body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.tip-calculator {
  width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

input[type="text"], input[type="range"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"][disabled] {
    background-color: #eee;
    font-weight: bold;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

input[type="range"] {
    width: 80%;
    margin-top: 0;
}
